################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SpiritDigital.CliniTouchVie.Application.Testing/v16
/.vs
/CTV.Application.SpecFlowAppiumTests/.vs/CTV.Application.SpecFlowAppiumTests/v16
/CTV.Application.SpecFlowAppiumTests/obj
/CTV.Application.SpecFlowAppiumTests/bin/Debug/net5.0
/CTV.Application.SpecFlowAppiumTests/.vs/CTV.Application.SpecFlowAppiumTests/DesignTimeBuild
/CTV.Application.SpecFlowAppiumTests/TestResults
/CTV.Application.SpecFlowAppiumTests/.vs/CTV.Application.SpecFlowAppiumTests/config
/CTV.Application.SpecFlowAppiumTests/bin/Android/Debug/net5.0
/CTV.Application.SpecFlowAppiumTests/.editorconfig
/CTV.Application.SpecFlowAppiumTests/.vs/CTV.Application.SpecFlowAppiumTests/v17/.suo
/CTV.Application.SpecFlowAppiumTests/.vs/SpecFlowAppiumTests/config
/CTV.Application.SpecFlowAppiumTests/.vs/SpecFlowAppiumTests/DesignTimeBuild
/CTV.Application.SpecFlowAppiumTests/.vs/SpecFlowAppiumTests/v16
/CTV.Application.SpecFlowAppiumTests/.vs/SpecFlowAppiumTests/v17
