################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SpiritDigital.CliniTouchVie.Application.Testing/v16
/.vs
/CTV.Application.SpecFlowAppiumTests/.vs/CTV.Application.SpecFlowAppiumTests/v16
/CTV.Application.SpecFlowAppiumTests/obj
