################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SpiritDigital.CliniTouchVie.Application.Testing/v16
